.product-action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .color-col,
  .size-col {
    cursor: pointer;
  }
  
  .sizeSelect,
  .colorSelect {
    display: none;
    position: absolute;
    top: 100%; /* Position below the parent */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
  }
  
  .colorSelect.show,
  .sizeSelect.show {
    display: block;
  }
  